body {
    margin: 0;
    width: 100%;
}

section h3 {
    font-size: 150%;
}

section h4 {
    font-size: 140%;
}

#AboutMe #Robert {
    margin: 0;
    text-align: center;
}

#AboutMe #Robert img {
    width: 100%;
}

#AboutMe #Resume img {
    height: 75px;
    margin-right: 40px;
}

#ServiceDescriptions {
    flex-direction: column;
}

#ServiceDescriptions figure { 
    margin: 2em 0 1em 0;
    text-align: left;
}

#ServiceDescriptions img {
    height: 50px;
    margin: 5px;
}

#Clients h3 {
    text-align: center;
}

#ClientImages {
    flex-direction: column;
}

#ClientImages div{
    margin-top: 2em;
    margin-bottom: 2em;
}

#ClientImages div:last-child {
    margin-bottom: 1em;
}

#ClientImages div img{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

#GetInTouch {
    flex-direction: column;
}

#GetInTouch div{
    padding: 1em;
    text-align: left;
}

#GetInTouch div img{
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}