body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1382px;
}

header {
    font-size: 125%;
}

section h3 {
    font-size: 140%;
}

section h4 {
    font-size: 130%;
}

#AboutMe #Robert {
    float: right;
    margin-left: 1em;
    margin-top: 0;
    text-align: center;
    width: 302px;
}

#AboutMe #Robert img {
    width: 300px;
}

#AboutMe #Resume img {
    height: 75px;
    margin-right: 40px;
}

#Services h3 {
    text-align: center;
}

#ServiceDescriptions {  
    justify-content: space-between;
}

#ServiceDescriptions figure { 
    text-align: left;
}

#ServiceDescriptions img {
    height: 70px;
    margin: 10px;
}

#Clients h3 {
    text-align: center;
}

#ClientImages {
    flex-wrap: wrap;
}

#ClientImages div img{
    height: 70px;
}

#GetInTouch {
    align-items: center;
}

#GetInTouch div{
    padding: 20px 10px;
    text-align: center;
    width: 33%;
}

#GetInTouch div img{
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}